<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list  class="ion-no-padding" style="height: 100%;"id="inbox-list">
          <ion-item lines="none"
          style="margin-bottom: 12px;"> 
          <ion-avatar>
            <img src="https://static.vecteezy.com/system/resources/previews/000/616/401/non_2x/m-logo-business-template-vector-icon.jpg">
          </ion-avatar>
          <ion-label style="margin-left: 8px;">
            <h3>Rent Mobi</h3>
            <p>admin@email.com</p>
          </ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item button (click)="onClickMenu(i)"  lines="none" detail="false" [class.selected]="false">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
              <ion-badge  slot="end" [hidden]="!p.notif || p.notif == 0" color="danger">{{p.notif}}</ion-badge>   
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div style="
        position: absolute;
        bottom: 0;
        left: 0;"> 
          <ion-text color="medium">
            <p style="
            margin-left: 8px;
            margin-bottom: 8px;
            margin-top: 0px;"> © 2020, Rent Mobi</p></ion-text>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    
  </ion-split-pane>
</ion-app>
