<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      <ion-text  >
        <b>RENT MOBI</b>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="onClickRouter(['admin-login'])">
        Admin
      </ion-button> 
      <ion-button (click)="onClickRouter([])">
        Movies
      </ion-button> 
      <ion-button *ngIf="hasuser == ''" (click)="onClickRouter(['','login'])">
        Get started
      </ion-button> 
      <ion-button *ngIf="hasuser != ''" >
        Rented
      </ion-button> 
      <ion-button *ngIf="hasuser != ''" (click)="onClickLogout()">
        Logout 
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>  
<ion-content> 
  <ion-row >
    <ion-col *ngFor="let data of datas" 
    size="6"
    size-sm="6"
    size-md="4"
    size-lg="2"> 
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img [src]="data.thumbnail"  >
          </div>
          <div class="flip-card-back">
            <h2 >{{data.title}}</h2>  
            <ion-badge *ngIf="data.isrented == 'True'" color="danger" slot="end">Rented</ion-badge>
            <ion-badge slot="end">100%</ion-badge>
            <p class="wraptext">{{data.description}}</p> 
            <ion-button *ngIf="!data.isrented || data.isrented == 'False'" (click)="onClickRent(data,'True')" fill="outline" color="light">
              Rent
            </ion-button>
            <ion-button *ngIf="data.isrented == 'True'" (click)="onClickRent(data,'False')" fill="outline" color="danger">
              Return
            </ion-button>  
          </div>
        </div>
      </div>     
    </ion-col>
  </ion-row> 
</ion-content>